{{- $user := get . "user" | default dict -}}
#!/usr/bin/env bash

# Single-quote arguments while preserving literal backslashes.
exec bash '{{ joinPath .chezmoi.workingTree "scripts" "install.sh" | replace "'" "'\\''" }}' \
  '{{ get $user "name" | default "" | replace "'" "'\\''" }}' \
  '{{ get $user "email" | default "" | replace "'" "'\\''" }}'
